.form{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkout{
    background-color: white;
    border-radius: 10px;
    min-height: 40vh;
    width: 600px;
    padding: 15px;  
} 

.orderContainer{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order{
	background-color: white;
	border-radius: 10px;
	min-height: 40vh;
	width: 600px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.link{
    text-decoration: none;
    color: white;
}