.App {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-image: url(/public/newegg-tech-pc-hardware-wallpaper-1-scaled.jpg);
    font-family:  "Lexend Exa" ;
    position: relative;
}
